{% extends "layout.html" %}

{% block title %}Create Your Apartment{% endblock %}

{% block content %}
  <h1> Let's create your apartment! </h1>

  <!-- Collecting information about apartment -->
  <form action="/create_result">
    <p> Enter your apartment name and your password. Be sure to save this to be
        to access your apartment information later! <br>

        Name<br>
        <input type="text" name="apartment-name" size="35"
          placeholder="Example Apartment Homes #1234" value="" required><br>

          <br>

        Password<br>
        <input type="password" name="password" value="" required>
    </p>

    <!-- Dropdown list to choose the number of roommates living in the apartment -->
    <p> Number of Roommates <br>
      <select name="number-roommates">
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </p>

    <p> Enter the number of tasks you have around your apartment (e.g. "Taking out the trash").
        The maximum number of tasks you can input is 15.<br>
      <input type="text" name="number-tasks" size="15" value="" required>
    </p>

    <input type="submit" value="Create">
  </form>
{% endblock %}
