{% extends "layout.html" %}

{% block title %}Step 2{% endblock %}

{% block content %}

<div class="info w3-container w3-row">
  <div class="w3-container w3-third">
    <p>Your apartment name is {{ session["apartmentName"] }}.</p>
    <p>You have {{ session["numTasks"] }} tasks to do.</p>
    <p>The number of roommates you have is {{ session["numRoommates"] }}.</p>
  </div>
</div>

<form class="w3-container" action="/create3">
  <p> Enter the name(s) of you and your roommate(s).</p>
  <!-- For loop to create the correct number of text boxes -->
  {% for x in range(numRoommates) %}
    <!-- Used same value for name attribute to get a list -->
    <p><input type="text" name="names" value="" class="w3-input w3-border w3-round-large" required></p>
  {% endfor %}

  <p><button class="w3-btn w3-red" type="submit">Submit</button></p>
</form>

<!-- Button to start over apartment creation -->
<form class="w3-container" action="/create_restart">
  <p><button class="w3-btn w3-red" type="submit">Start Over</button></p>
</form>

{% endblock %}
