{% extends "layout.html" %}

{% block title %}Step 3{% endblock %}

{% block content %}

<p>Your apartment name is {{ session["apartmentName"] }}</p>
<p>You have {{ session["numTasks"] }} tasks to do</p>
<p>The number of roommates you have is {{ session["numRoommates"] }}</p>
<p>The names of your roommates are: </p>

<!-- For loop to list out all of the occupants' names -->
{% for name in names %}
  <p> {{ name }}</p>
{% endfor %}

<p> Here is where you will enter the {{ session["numTasks}"] }} tasks.</p>

<form action="/create4">
  <!-- For loop to create the correct number of text boxes -->
  {% for x in range(numTasks) %}
    <!-- Used same value for name attribute to get a list -->
    <p><input type="text" name="tasks" value="" required></p>
  {% endfor %}
  <input type="submit" value="Submit">
</form>

{% endblock %}
