{% extends "layout.html" %}

{% block title %}Almost Done!{% endblock %}

{% block content %}

<p>Your apartment name is {{ session["apartmentName"] }}</p>
<p>You have {{ session["numTasks"] }} tasks to do</p>
<p>The number of roommates you have is {{ session["numRoommates"] }}</p>
<p>The names of your roommates are: </p>

<!-- For loop to list out all of the occupants' names -->
{% for name in names %}
  <p> {{ name }}</p>
{% endfor %}

<p>The tasks for the apartment are: </p>
<!-- For loop to list out all the tasks -->
{% for task in tasks %}
  <p> {{ task }} </p>
{% endfor %}

{% for task, roommate in task_roommate.items() %}
  <p> {{ roommate }} is in charge of {{ task }}</p>
{% endfor %}

<p> Make sure everything is right! If it all looks good, hit the 'Save' button
    to save it to the database! </p>

<form action='/save_result'>
  <input type="submit" value="Save!">
</form>


{% endblock %}
