{% extends "layout.html" %}

{% block title %}Step 4{% endblock %}

{% block content %}

<div class="info w3-container w3-row">
  <div class="w3-container w3-third">
    <p>Your apartment name is {{ session["apartmentName"] }}.</p>
    <p>You have {{ session["numTasks"] }} tasks to do.</p>
    <p>The number of roommates you have is {{ session["numRoommates"] }}.</p>
  </div>

  <div class="w3-container w3-third w3-border-left">
    <p>The names of your roommates are: </p>

    <!-- For loop to list out all of the occupants' names -->
    {% for name in names %}
      <p> {{ name }}</p>
    {% endfor %}
  </div>

  <div class="w3-container w3-third w3-border-left">
    <p>The tasks for the apartment are: </p>
    <!-- For loop to list out all the tasks -->
    {% for task in tasks %}
      <p> {{ task }} </p>
    {% endfor %}
  </div>
</div>


<!-- Uses 2 for-loops to generate task with corresponding dropdown menus -->
<form class="w3-container" action="/create5">
  <p> Now, assign a person to each task. </p>

  {% for task in tasks %}
    <h4>{{ task }}</h4>
    <select class="w3-select w3-border" name="task-roommate">
      <!-- Loops through passed-in list of roommate names to generate dropdown-->
      {% for name in names %}
        <option value="{{ name }}">{{ name }}</option>
      {% endfor %}
    </select>

  {% endfor %} <!-- Tasks for-loop -->
  <p><button class="w3-btn w3-red" type="submit">Finish!</button></p>
</form>

<!-- Button to start over apartment creation -->
<form class="w3-container" action="/create_restart">
  <p><button class="w3-btn w3-red" type="submit">Start Over</button></p>
</form>

{% endblock %}
