
{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="w3-container w3-content">
    <div class="w3-center">
      <h1 class="w3-wide">The Chore Organizer</h1>
    </div>

    <div class="w3-row w3-padding-16">
      <div class="w3-container w3-twothird">
        <h3>Never Argue Over Whose Turn It Is</h3>
      </div>

      <div class="w3-container w3-third">
        <h3>Assign Tasks and Rotate</h3>
      </div>
    </div>

    <div class="w3-center">
      <button class="w3-button w3-xlarge w3-dark-gray w3-round-large">Create your apartment now!</button>
    </div>
  </div>
{% endblock %}
