
{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<header class="w3-display-container w3-content w3-wide" id="home">
  <img class="w3-image w3-sepia-min w3-round" src="/static/homepage.jpg" alt="Checklist">

  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black"><b>The Chore Organizer</b></span></h1>
  </div>

</header>

    <div class="w3-content w3-row w3-padding-16">
      <div class="w3-container w3-twothird w3-padding-large">
        <h3 class="w3-center w3-border-bottom">Never Argue Over Whose Turn It Is</h3>
        <p>Do you ever have arguments over which person is suppose to take out the trash?
           Is "I did it last time!" is just not convincing enough?
           Use the Chore Organizer to quickly create your apartment and tasks to keep track of who is charge of what!
        </p>

        <p> Creating an apartment is quick and easy.
            You'll be able to finish the setup process in just a few minutes and be on your way to a more organized life.
        </p>
        <form action="/create" class="w3-padding-16">
          <button class="w3-button w3-large w3-dark-gray w3-round-large">Create your apartment now!</button>
        </form>
      </div>

      <div class="w3-container w3-third w3-padding-large">
        <h3 class="w3-center w3-border-bottom">Assign Tasks and Rotate</h3>
        <p>The Chore Organizer lets roommates log into their apartment and check off which tasks they have finished.
           It will automatically assign the following roommate to that task.
        </p>

        <p> If you're unsure of what tasks you currently have, simply log into your apartment to quickly see!
        </p>

        <form action="/lookup" class="w3-padding-16">
          <button class="w3-button w3-large w3-dark-gray w3-round-large">Look Up Your Apartment Now!</button>
        </form>
      </div>
    </div>


{% endblock %}
