{% extends "layout.html" %}

{% block title %}Here is your apartment!{% endblock %}

{% block content %}
<h1>We found your apartment!</h1>
<div class="lookupInfo w3-container">
  <h2>The current tasks for your apartment are:</h2>
  
  {% for task, roommate in apartment.task_nameList.items() %}
    <p>{{ roommate[0] }} is in charge of {{ task }}</p>
  {% endfor %}
</div>


<form class="w3-container" action="/lookup3">
  <p> I am: <br>
    <select class="w3-select w3-border" name="current-roommate">
        {% for name in apartment.names %}
          <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
    </select>

    <p><button class="w3-btn w3-red" type="submit">Enter</button></p>
  </p>
</form>



{% endblock %}
