{% extends "layout.html" %}

{% block title %}Look Up Your Apartment{% endblock %}

{% block content %}

<form class="w3-container" action="/lookup2" method="post">
  <h1>Enter your apartment's information</h1>
  <p><label>Apartment Name</label>
    <input type="text" name="apartmentName" value="" class="w3-input w3-border w3-round-large" required>
    <label>Password</label>
    <input type="password" name="password" value="" class="w3-input w3-border w3-round-large" required>

    <p><button class="w3-btn w3-red" type="submit">Enter</button></p>
  </p>
</form>
{% endblock %}
