
<div class="w3-bar w3-red w3-padding-16">
  <a href="/" class="w3-bar-item w3-button">Home</a>
  <a href="/create" class="w3-bar-item w3-button w3-hide-small">Create Your Apartment</a>
  <a href="/lookup" class="w3-bar-item w3-button w3-hide-small">Look Up Your Apartment</a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
</div>

<div id="demo" class="w3-bar-block w3-red w3-hide w3-hide-large w3-hide-medium">
  <a href="/create" class="w3-bar-item w3-button">Create Your Apartment</a>
  <a href="/lookup" class="w3-bar-item w3-button">Look Up Your Apartment</a>
</div>

<script>
function myFunction() {
    var x = document.getElementById("demo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
